<!DOCTYPE html>
<html>
  <head>
    <title>Quotes</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <div style="margin: 30px">
        <blockquote>
          <p style="white-space: pre;"><%=h @quote.text %></p>
          <small><%=h @quote.author %></small>
        </blockquote>
      </div>
    </div>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
