<% @quotes.shuffle.each do |quote| %>
  <div class="pa4">
    <blockquote class="athelas ml0 mt0 pl4 black-90 bl bw2 b--blue">
      <% quote.text.split("\n").each do |line| %>
        <p class="f5 f4-m f3-l lh-copy measure mt0"><%= line %></p>
      <% end %>
      <% if quote.author %>
        <cite class="f6 ttu tracked fs-normal"><%= quote.author %> <a href="/quote/<%= quote.id %>" title="permalink">#</a></cite>
      <% end %>
    </blockquote>
  </div>
<% end %>
