<!DOCTYPE html>
<html>
  <head>
    <title>Quotes with Images</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style type="text/css">
      body {
        margin-left: 0;
      }

      #quote {
        margin: 30% 0;
        background: #7FFFD4;
        padding: 10px;
        width: 800px;
        opacity: 0.8;
        font-weight: 800;
        font-family: monospace;
      }
    </style>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div id="quote">
      <blockquote>
        <% @quote.text.split("\n").each do |line| %>
          <p><%=h line %></p>
        <% end %>
        <% if @quote.author %>
          <small><%=h @quote.author %> <a href="/quote/<%= @quote.id %>" title="permalink">#</a></small>
        <% end %>
      </blockquote>
    </div>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.4/jquery.backstretch.min.js"></script>
    <script type="text/javascript">
      $(function() {
        img = "<%= @img %>";
        $(window).resize(function() {
          if ($(this).width() >= 767) {
            $.backstretch(img, {speed: 150});
          } else {
            $.backstretch(img, {speed: 150});
          }
        }).resize(); // trigger resize on page load
      });

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-333449-13']);
      _gaq.push(['_trackPageview']);

      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();

      var _gauges = _gauges || [];
      (function() {
       var t   = document.createElement('script');
       t.type  = 'text/javascript';
       t.async = true;
       t.id    = 'gauges-tracker';
       t.setAttribute('data-site-id', '522936ae613f5d4a4500001a');
       t.src = '//secure.gaug.es/track.js';
       var s = document.getElementsByTagName('script')[0];
       s.parentNode.insertBefore(t, s);
       })();
    </script>
  </body>
</html>
