<!DOCTYPE html>
<html>
  <head>
    <title>Quotes</title>
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <div style="margin: 30px">
        <blockquote>
          <% @quote.text.split("\n").each do |line| %>
            <p><%=h line %></p>
          <% end %>
          <% if @quote.author %>
            <small><%=h @quote.author %></small>
          <% end %>
        </blockquote>
      </div>
      <div class="muted pull-right" style="margin-top: 250px; font-size: 0.7rem;">
        <p>Site by @<a href="https://github.com/icco/crackquotes">icco</a>.</p>
      </div>
    </div>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-333449-13']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </body>
</html>
