<!DOCTYPE html>
<html>
  <head>
    <title>Quotes</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <div style="margin: 30px">
        <blockquote>
          <% @quote.text.split("\n").each do |line| %>
            <p><%=h line %></p>
          <% end %>
          <% if @quote.author %>
            <small><%=h @quote.author %></small>
          <% end %>
        </blockquote>
      </div>
      <div class="muted pull-right" style="margin-top: 250px; font-size: 0.7rem;">
        <p>Site by @<a href="https://github.com/icco/crackquotes">icco</a>.</p>
      </div>
    </div>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
